@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply w-full h-full max-w-screen-xl mx-auto;
  background-color: transparent;
}
.item-container {
  @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}

.item {
  @apply relative overflow-hidden md:w-1/4;
}

.item-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

.hero {
  background-image: url("../images/full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-image: url("../images/Frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
#amenities {
  background-image: url("../images/Amenities/bgDaytour.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  .about {
    background-image: url("../images/MobileBG.svg");
    background-position: center;
  }
  .hero {
    background-image: url("../images/Mobile Wallpaper.jpg");
    background-position: center;
  }
}
@media (max-width: 280px) {
  .fold {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }
}

/* Slider Styles*/
.swiper {
  width: 300px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #093454;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #093454;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}
